<html>
  <head>
    <meta charset="UTF-8" />
    <title>Inscripción al evento</title>
  </head>
  <body>
    <div class="header">
      <h1 class="title">¡Estás dentro del evento {{event_name}}!</h1>
    </div>
    <div class="content">
      <p>Hola <strong>{{branchName}}</strong>,</p>

      <p>
        ¡Tenemos excelentes noticias! Tu cafetería ha sido inscrita oficialmente en el evento <strong>{{eventName}}</strong>.
      </p>

      <p>
        Esto significa que tu sello especial aparecerá en el álbum del evento que los coffeelovers coleccionarán durante la campaña. Esta es una gran oportunidad para dar mayor visibilidad a tu tienda y formar parte de una experiencia única.
      </p>

      <p>
        Puedes revisar los detalles del evento desde el siguiente enlace:
      </p>

      <div class="button-container">
        <a href="{{eventLink}}" class="button">Ver evento</a>
      </div>

      <p>
        ¡Gracias por ser parte de esta comunidad cafetera!
      </p>

      <p>
        El equipo de <strong>Encafeinados</strong>
      </p>
    </div>
  </body>
</html>
